

.userimage {
  background-size: cover;
  background-size: CONTAIN;
  background-repeat: NO-REPEAT;
  background-position: CENTER;
}

.hand {
  background-size: cover;
  background-image: url(assets/img/female_idle.svg);
  background-size: CONTAIN;
  background-repeat: NO-REPEAT;
  background-position: CENTER;
}

.scissors {
  background-size: cover;
  background-image: url(assets/img/female_scissors.svg);
  background-size: CONTAIN; 
  background-repeat: NO-REPEAT;
  background-position: CENTER;
}

.rock {
  background-size: cover;
  background-image: url(assets/img/female_rock.svg);
  background-size: CONTAIN;
  background-repeat: NO-REPEAT;
  background-position: CENTER;
}

.paper {
  background-size: cover;
  background-image: url(assets/img/female_paper.svg);
  background-size: CONTAIN;
  background-repeat: NO-REPEAT;
  background-position: CENTER;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
